.tryAgain {
  border: none;
  background-color: #108afd;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  outline: none;
  text-align: center;
  padding: 7px 20px;
  line-height: 1.3291;
  cursor: pointer;
  letter-spacing: 0.5px;
}